.click{
    background-color: darkcyan;
    border-radius: 10px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
}
.click:hover{
    background-color: navy;
}
h1:hover{
    color: rgb(255, 60, 0);
}