h1{
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}
body{
    background-color: rgb(0, 1, 75);
}
.h{
    color: rgb(255, 136, 0);
    font-family: sans-serif;
    text-align: center;
}